body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lavender;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerStyle {
  margin-left: 20px;
  margin-top: 40px;
  height: 70px;
  width: 455px;
  font-size: 15px;
  border: solid 5px olive;
  border-radius: 20px;
  text-align: center;
}

.marketStyle {
  height: 350px;
  width: 550px;
  padding: 10px;
  border: solid 5px olive;
  border-radius: 20px;
  margin: 0;
  margin-left: 20px;
  margin-top: 60px;
  font-size: 13px;
}

.produceStyle {
  height: 90%;
  width: 90%;
  padding: 10px;
  border: solid 5px olive;
  border-radius: 20px;
  margin: 0;
  margin-left: 20px;
  margin-top: 50px;
  font-size: 13px;
}